.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    z-index: 100
    top: -70%
    right: 8%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    z-index: 1
    top: -122%
    right: -14%
  &-3
    position: absolute
    z-index: 100
    top: -160%
    right: 3%

.borde_tarjeta
  border: border 2px solid $color-acento-contenido
    

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.titulo-principal.color-acento-contenido .titulo-principal__numero span
    color: #fff;
.cajon.color-acento-contenido
    background-color: #FFE9C9;
.pl-card-cus
  padding: 30px 29% 20px 15%
.card_img
  z-index: 2
  position: absolute;
  right: 1px;
.card_text
  z-index: 1
.bg-color-acento-contenido
  background-color: $color-acento-contenido

.dialog
  height: 275px
.pasos-b__header
  z-index: 2
  padding: 0 20px;
.linea-tiempo-c__content 
    z-index: 1;
    position: relative;
    top: -90px;
.pasos-b.color-acento-botones .pasos-b__header__item--active .pasos-b__header__item__dot span 
    color: #fff;
.pasos-b__header__item__dot
    background-color: #fff;
    border: 3px solid #fff;
.pasos-b__header__item__line-container:after, 
.pasos-b__header__item__line-container:before
    background-color: #fff;

.pasos-b__header__item:first-child .pasos-b__header__item__line-container:before
    background-color: #fff;
.pasos-b__header__item__line-container:after, .pasos-b__header__item__line-container:before
    background-color: #fff;
    width: 100%;
.pasos-b__header__btn--left:after
    background-color: #fff;
    border: 3px solid #fff;
.pasos-b__header__item:last-child .pasos-b__header__item__line-container:after
    background-color: #fff;
.h-img-flip
  height: 250px
.color-primario-opacity
  background-color: #FCD1B1 !important
.tabla-a th 
    border-color: #FEEBDE
    background-color: #FEEBDE
.tabla-a td
  border: 0 !important
.tabla-a td.border-tabla-a
  border: 1px solid #F57C22 !important;
.img-hover-tabla-cus
  background-image: url("../assets/curso/temas/t3/img-24.png")
  height: 318px
.img-hover-tabla-cus:hover
  background-image: url("../assets/curso/temas/t3/img-26.svg")
.img-hover-tabla-cus-2
  background-image: url("../assets/curso/temas/t3/img-25.png")
  height: 318px
.img-hover-tabla-cus-2:hover
  background-image: url("../assets/curso/temas/t3/img-27.svg")









