.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    z-index: 100
    top: -70%
    right: 8%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    z-index: 1
    top: -122%
    right: -14%
  &-3
    position: absolute
    z-index: 100
    top: -160%
    right: 3%
    
    
    
  
  
  



@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)