.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    z-index: 100
    top: -70%
    right: 8%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    z-index: 1
    top: -122%
    right: -2%
  &-3
    position: absolute
    z-index: 100
    top: -130%
    width: 75% !important
    max-width: 100%
    right: 3%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: #fff
.cajon.color-acento-contenido
  background-color: #FFE9C9
.cajon.color-secundario1
  background-color: #FFE9C9
.tarjeta.color-secundario1
  background-color: #FFE9C9
.pl-card-cus
  padding: 0.5px 29% 20px 16%
.card_img
  z-index: 2
  position: absolute
  right: -47px
.card_text
  z-index: 1
.bg-color-acento-contenido
  background-color: $color-acento-contenido
.dialog
  height: 275px
.pasos-b__header
  z-index: 2
  padding: 0 20px
.linea-tiempo-c__content
  z-index: 1
  position: relative
  top: -90px
.pasos-b.color-acento-botones .pasos-b__header__item--active .pasos-b__header__item__dot span
  color: #fff
.pasos-b__header__item__dot
  background-color: #fff
  border: 3px solid #fff
.pasos-b__header__item__line-container:after,
.pasos-b__header__item__line-container:before
  background-color: #fff

.pasos-b__header__item:first-child .pasos-b__header__item__line-container:before
  background-color: #fff
.pasos-b__header__item__line-container:after, .pasos-b__header__item__line-container:before
  background-color: #fff
  width: 100%
.pasos-b__header__btn--left:after
  background-color: #fff
  border: 3px solid #fff
.pasos-b__header__item:last-child .pasos-b__header__item__line-container:after
  background-color: #fff
.h-img-flip
  height: 250px
.color-primario-opacity
  background-color: #FCD1B1 !important
.tabla-a th
  border-color: #FEEBDE
  background-color: #FEEBDE
.tabla-a td
  border: 0 !important
.tabla-a td.border-tabla-a
  border: 1px solid #F57C22 !important
.img-hover-tabla-cus
  background-image: url("../assets/curso/temas/t3/img-24.png")
  height: 318px
.img-hover-tabla-cus:hover
  background-image: url("../assets/curso/temas/t3/img-31.svg")
.img-hover-tabla-cus-2
  background-image: url("../assets/curso/temas/t3/img-25.png")
  height: 318px
.img-hover-tabla-cus-2:hover
  background-image: url("../assets/curso/temas/t3/img-28.svg")
  height: 18px
.borde_tarjeta
  border: border 2px solid $color-acento-contenido
.acordion__accion__btn--a
  background-color: $yellow !important
  box-shadow: 0px 3px 5px 0px rgba($color-sistema-a,0.3)
.tarjeta.color-primario
  background-color: #FEEBDE
.slyder-a__btn--atrs
  background-color: $color-acento-botones
.slyder-a__btn--sigt
  background-color: $color-acento-botones
.slyder-a__bullets__item
  background-color: $color-acento-botones
.tarjeta.color-secundario--borde
  background-color: #FFE9C9
  border: solid 4px #F57C22
.tabs-a__tab.tabs-a__tab
  background-color: #FED935
.tabs-a__tab.tabs-a__tab__selected
  background-color: #F57C22
.tarjeta.tarjeta--azulacordion__activo
  backgroung-color: gray !important
.tarjeta.color-primario.borde_tarjeta.text-center
  background-color: white
  border: solid 4px #FFE9C9
  height: 318px
.tarjeta.color-adicional-2
  border: solid 1px grey
  height: 318px
.linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #FFE9C9 !important
.linea-tiempo-d__item__content__title.px-3
  background-color: #FED935 !important
@media (max-width: 768px)
  .card_img
    position: relative
    display: none
  .pl-card-cus
    padding: 152px 29% 20px 16%
  .dialog
    display: flex
    padding: 0px
.faa.acordion__activo
  background-color: #DEF7FA !important
.faa
  background-color: #F6F6F6 !important

.img250
  position: relative
  width: 400px
  top: -5rem
  left: 60%


.crd--avatarHorizontal
  position: relative
  padding-right: 10rem
  & > *
    position: relative
  h5 
    color: #12263F
  p 
    margin-bottom: 0
  &::before  
    position: absolute 
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 90px)
    height: 100%
    background-color: #fffae17a

  @media (max-width: 1000px)
    padding-right: 2rem

.crd--first, .crd--last
  &::before 
    background-color: #feebde66 !important

.crd--first
  &::before 
    border-top-left-radius: 30px
.crd--last
  &::before 
    border-bottom-left-radius: 30px

.avatar
  position: absolute
  bottom: 0
  right: 3rem
  z-index: 1
  top: 6%
  @media (max-width: 1000px)
    display: none